In [15]:
import spacy
import pandas as pd
import pdfplumber
import re
import os
from docx import Document

nlp = spacy.load("en_core_web_sm")

print("All libraries loaded successfully")

All libraries loaded successfully

In [16]:
folder_path = "resumes"

files = os.listdir(folder_path)
print(files)

['BE.CSE  - Data Science Pentapati Sai Abhiramr -43733049.pdf', 'G Manoj Kumar - Copy.pdf', 'G Manoj Kumar.pdf', 'Ganesh resume.pdf', 'PUTTA CHANDU Resume.pdf', 'V.ChandraSekhar.pdf']

In [17]:
def extract_text_from_pdf(path):
    text = ""
    with pdfplumber.open(path) as pdf:
        for page in pdf.pages:
            if page.extract_text():
                text += page.extract_text()
    return text

In [18]:
def extract_text_from_docx(path):
    doc = Document(path)
    return "\n".join([para.text for para in doc.paragraphs])

In [19]:
def extract_contact_details(text):
    email = re.findall(r'\S+@\S+', text)
    phone = re.findall(r'\b\d{10}\b', text)

    email = email[0] if email else ""
    phone = phone[0] if phone else ""

    return email, phone

In [20]:
def extract_name(text):
    doc = nlp(text)

    for ent in doc.ents:
        if ent.label_ == "PERSON":
            return ent.text

    return "Not Found"

In [21]:
skills_list = [
    "python","java","c++","sql","machine learning","deep learning",
    "data science","tableau","power bi","excel","html","css",
    "javascript","react","nodejs","nlp","tensorflow","pandas"
]

def extract_skills(text):
    text = text.lower()
    found = []

    for skill in skills_list:
        if skill in text:
            found.append(skill)

    return found

In [22]:
def extract_experience(text):
    exp = re.findall(r'(\d+)\s+years', text.lower())
    return exp[0] if exp else "0"

In [23]:
results = []

for file in os.listdir("resumes"):

    path = os.path.join("resumes", file)

    if file.endswith(".pdf"):
        text = extract_text_from_pdf(path)
    else:
        text = extract_text_from_docx(path)

    name = extract_name(text)
    email, phone = extract_contact_details(text)
    skills = extract_skills(text)
    experience = extract_experience(text)

    results.append({
        "Name": name,
        "Email": email,
        "Phone": phone,
        "Skills": ", ".join(skills),
        "Experience": experience
    })

df = pd.DataFrame(results)
df

Could not get FontBBox from font descriptor because None cannot be parsed as 4 floats
Could not get FontBBox from font descriptor because None cannot be parsed as 4 floats
Could not get FontBBox from font descriptor because None cannot be parsed as 4 floats
Could not get FontBBox from font descriptor because None cannot be parsed as 4 floats
Could not get FontBBox from font descriptor because None cannot be parsed as 4 floats

,Name,Email,Phone,Skills,Experience
0,Pentapati Sai Abhiram,saiabhirampentapatidpsv@gmail.com,8849905891,"python, java, sql, data science, tableau, powe...",0
1,https://www.linkedin.com/in/manoj-kumar-gidda-...,giddamanojkumar2006@gmail.com,9949071134,"python, java, sql, machine learning, data scie...",0
2,https://www.linkedin.com/in/manoj-kumar-gidda-...,giddamanojkumar2006@gmail.com,9949071134,"python, java, sql, machine learning, data scie...",0
3,Mahipala,ganesh7569605996@gmail.com,8712258126,,0
4,Hindi\nMarital Status,ChanduChowdary2003@gmail.com,8247421536,,0
5,Email,chandrasekharvasamsetti03@gmail.com,6305620717,,0

In [24]:
df.to_excel("Candidates.xlsx", index=False)
print("Excel created successfully")

Excel created successfully